---
/*
 * SPDX-FileCopyrightText: 2025 Luciano Hillcoat <me@lucdev.net>
 * SPDX-License-Identifier: CC-BY-NC-SA-4.0
 */
---

<p>
  <em class="italic">Note: Luciano was known as “Luciana” at that time.</em>
</p>
