## Note: even though this gitignore is rebust
# it's recommended that each package has it's own

# Dependencies
node_modules
pkg/**/node_modules/

# Generated code
pkg/**/dist/

# Logs
pkg/**/logs/
pkg/**/*-debug.log*
pkg/**/*-error.log*

# Env variables
.env*
!.env*.example

pkg/**/.env*
!pkg/**/.env*.example

# VSCode
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json

# System files
.DS_Store
Thumbs.db
*:Zone.Identifier
