---
/*
 * SPDX-FileCopyrightText: 2025 Luciano Hillcoat <me@lucdev.net>
 * SPDX-License-Identifier: CC-BY-NC-SA-4.0
 */
---

<h1 class="font-display text-3xl font-medium mb-4">Not Found</h1>
<div class="flex flex-col gap-4">
  <p>Oops! The page you're looking for doesn't exist.</p>
  <p>It seems you've ventured into uncharted territory.</p>
  <p>
    Don't worry, you can always <a
      href="/"
      class="underline hover:text-cyan-600 hover:dark:text-cyan-400"
      >return to the homepage</a
    > and start your journey anew.
  </p>

  <p>
    Or you can try your luck at <a
      href="https://web.archive.org"
      class="underline hover:text-cyan-600 hover:dark:text-cyan-400"
      >The wayback machine</a
    > or
    <a
      href="https://archive.is"
      class="underline hover:text-cyan-600 hover:dark:text-cyan-400"
      >Archive Today</a
    >
  </p>
</div>
