---
export interface Props {
  items: string[];
}

const { items } = Astro.props;
---

{
  items.map((content) => (
    <li>
      <svg
        aria-hidden="true"
        class="hidden print:inline-block"
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="22"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          d="m10.586 13.414l-2.829-2.828L6.343 12l4.243 4.243l7.07-7.071l-1.413-1.415z"
        />
      </svg>
      <svg
        aria-label="Checkmark icon"
        class="inline-block print:hidden"
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="22"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          d="M19 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2m-9 14l-5-5l1.41-1.41L10 14.17l7.59-7.59L19 8z"
        />
      </svg>
      <span> {content}</span>
    </li>
  ))
}
