---
---

<div class="flex flex-col gap-2 lg:gap-[unset] lg:flex-row mb-4 print:flex-col print:gap-2">
	<div class="flex flex-col lg:w-1/2">
		<slot name="left-side" />
	</div>
	<div class="flex flex-col lg:w-1/2">
		<slot name="right-side" />
	</div>
</div>
