<article class="flex flex-col gap-4">
  <slot name="person-card" />

  <section class="mb-4">
    <h3
      class="text-2xl font-medium mb-4 font-display print:font-serif print:font-bold"
    >
      Summary
    </h3>
    <div class="flex flex-col gap-2 print:items-start">
      <slot name="summary" />
    </div>
  </section>

  <section class="mb-4">
    <h3
      class="text-2xl font-medium mb-4 font-display print:font-serif print:font-bold"
    >
      Professional Experience
    </h3>
    <div class="flex flex-col gap-4">
      <slot name="experience-cards" />
    </div>
  </section>

  <section class="mb-4">
    <h3
      class="text-2xl font-medium mb-4 font-display print:font-serif print:font-bold"
    >
      Certifications
    </h3>
    <div class="flex flex-col gap-4">
      <slot name="certification-cards" />
    </div>
  </section>
</article>
