---
/*
 * SPDX-FileCopyrightText: 2025 Luciano Hillcoat <me@lucdev.net>
 * SPDX-License-Identifier: AGPL-3.0-only
 */

import BaseLayout from "~/layouts/BaseLayout.astro";
import Head from "~/components/Head.astro";
---

<BaseLayout title="Home">
  <Fragment slot="head">
    <Head title="Home" />
    <meta http-equiv="refresh" content="0;url=/blog" />
  </Fragment>
  <p>You are being redirected, please wait...</p>
</BaseLayout>
