---
import { type CollectionEntry } from "astro:content";
import { authorName, authorProfilePictureAlt, authorProfilePictureSmall } from "~/consts";
import { formatDateTime, DateTimeFormattingConfig } from "~/helpers/formatDateTime";

type BlogPost = CollectionEntry<"blog">['data'];

export type Props = Pick<BlogPost, "datePublished"> & { readTimeMinutes: number; }

const {
  datePublished,
  readTimeMinutes,
} = Astro.props;

const minuteWord = readTimeMinutes === 1 ? "minute" : "minutes";
---

<section class="mb-8 ml-2 flex flex-col gap-2 max-w-fit">
  <div class="flex flex-row items-center gap-2">
    <img
      src={authorProfilePictureSmall}
      alt={authorProfilePictureAlt}
      height={32}
      width={32}
      class="rounded-full"
      loading="lazy"
      decoding="async"
    />
    <a href="/" target="_blank">By: {authorName.join(" ")}</a>
  </div>
  <span>{formatDateTime(datePublished,DateTimeFormattingConfig.DayShortMonthYear)} - {`${readTimeMinutes} ${minuteWord} read.`}</span>
  <slot />
</section>
