---
export interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<section>
  <span>Tags:</span>
  <ul class="list-none pl-0 inline-flex flex-row gap-[0.75ch]">
    {tags.map((tag) => <li class="inline-block"><span class="italic">{"#"}</span><span>{tag}</span></li>)}
  </ul>
</section>
