---
/*
 * SPDX-FileCopyrightText: 2025 Luciano Hillcoat <me@lucdev.net>
 * SPDX-License-Identifier: AGPL-3.0-only
 */

import { type CollectionEntry } from "astro:content";
import { authorName } from "~/consts";
import {
  formatDateTime,
  DateTimeFormattingConfig
} from "~/helpers/formatDateTime";

type BlogPost = CollectionEntry<"blog">["data"];

export type Props = Pick<BlogPost, "datePublished"> & {
  readTimeMinutes: number;
};

const { datePublished, readTimeMinutes } = Astro.props;

const minuteWord = readTimeMinutes === 1 ? "minute" : "minutes";
---

<section class="mb-8 ml-2 flex flex-col gap-2 max-w-fit">
  <div class="flex flex-row items-center gap-2">
    <p>By: {authorName.join(" ")}</p>
  </div>
  <span
    >{formatDateTime(datePublished, DateTimeFormattingConfig.DayShortMonthYear)}
    - {`${readTimeMinutes} ${minuteWord} read.`}</span
  >
  <slot />
</section>
