---
/*
 * SPDX-FileCopyrightText: 2025 Luciano Hillcoat <me@lucdev.net>
 * SPDX-License-Identifier: AGPL-3.0-only
 */

export interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<section>
  <span class="font-medium">Tags:</span>
  <ul class="list-none pl-0 inline-flex flex-row gap-[0.75ch]">
    {
      tags.map((tag) => (
        <li class="inline-block">
          <a
            href={`/blog/tagged/${tag}/`}
            class="underline hover:text-cyan-600 hover:dark:text-cyan-400"
          >
            <span class="italic">{"#"}</span>
            <span>{tag}</span>
          </a>
        </li>
      ))
    }
  </ul>
</section>
