---
/*
 * SPDX-FileCopyrightText: 2025 Luciano Hillcoat <me@lucdev.net>
 * SPDX-License-Identifier: AGPL-3.0-only
 */
---

<body
  class="relative font-body tracking-wider p-4 sm:m-auto sm:max-w-[80ch] lg:max-w-[100ch] bg-gray-100 text-neutral-800 dark:bg-zinc-800 dark:text-neutral-300 print:m-2 print:max-w-[unset] print:bg-[unset] print:text-[unset] print:font-serif print:leading-relaxed print:tracking-wide"
>
  <slot />
</body>
