---
const currentYear = new Date().getUTCFullYear();
const siteDomain = (Astro.site ?? Astro.url).host;
---

<footer class="flex flex-col gap-2 max-w-fit">
  <a href="/copyright-policy/" target="_blank" class="hover:underline"
    >Copyright &copy; {currentYear} - {siteDomain}</a
  >
  <p class="italic">
    Opinions are my own, and don't represent any current or former employer.
  </p>
</footer>
