---
import {
  formatDateTime,
  DateTimeFormattingConfig
} from "~/helpers/formatDateTime";
import ProseContainer from "./ProseContainer.astro";

export interface Props {
  date: Date;
  title: string;
  url: string;
}

const { date, title, url } = Astro.props;

const dateFormatted = formatDateTime(
  date,
  DateTimeFormattingConfig.DayShortMonthYear
);
---

<li class="flex flex-col gap-2">
  <article class="contents">
    <span class="max-w-fit">
      <svg
        aria-label="Calendar icon"
        class="opacity-75 inline-block print:hidden"
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="22"
        viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="M12 12h5v5h-5zm7-9h-1V1h-2v2H8V1H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2m0 2v2H5V5zM5 19V9h14v10z"
        ></path></svg
      >
      <span>{dateFormatted}</span>
    </span>
    <a href={url} target="_blank" class="mb-2 max-w-fit"
      ><h2
        class="text-2xl underline font-medium hover:text-cyan-600 hover:dark:text-cyan-400"
      >
        {title}
      </h2></a
    >

    <ProseContainer>
      <slot />
    </ProseContainer>
  </article>
</li>
