---
/*
 * SPDX-FileCopyrightText: 2025 Luciano Hillcoat <me@lucdev.net>
 * SPDX-License-Identifier: AGPL-3.0-only
 */

import Body from "~/components/Body.astro";
import Footer from "~/components/Footer.astro";
import Header from "~/components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <slot name="head" />
  </head>
  <Body>
    <Header />
    <main class="mb-8">
      <slot />
    </main>
    <Footer />
  </Body>

</html>
